.env
.vscode
node_modules/
build/
.DS_Store

# zergArmy/minions.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

src/minions/*.json
src/cache/*.json
src/bitget/depositBook/*.csv